*{
    margin: 0;
    padding: 0;
}

.main{
    position: relative;
    background: linear-gradient(to top, rgb(0,0,0,0.7),rgb(0,0,0,0.7)),url(images.jpeg) no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
}

.icon{
    position: absolute;
    top:10px;
    left:24px;
}

.logo{
    font-family: arial;
    color: rgb(255, 255, 0);
    font-size: 40px;
}

.nav{
    width: 100vw;
}
.nav ul{
    height: 40px;
    list-style: none;
    margin-left: 240px;
    margin-right: 20px;
    float: left;
}
.nav ul li{
    display: flex;
    float: left;
    margin-top: 24px;
    margin-left: 24px;
}

.nav ul li a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-family: sans-serif;
    /* To work the mouse hover smoothly */
    transition: 0.5s ease;  
}

.nav ul li a:hover{
    color: yellow;

}

.search{
    /* To move the search bar Towards the right side of the web page */
    float: right;
    margin-top: 20px;
    margin-right: 20px;
}

.search input{
    float:left;
    height: 22px;
    width: 200px;
    background:transparent;
    color: white;
    border: 1px solid yellow;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    padding:4px;
    font-size: 16px;
}

.search input:focus{
    outline: none;
}

.search button{
    font-family: sans-serif;
    font-size: 14px;
    width: 80px;
    height: 32px;
    border: none;
    background-color: yellow;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    /* To change the mouse cursor to pointer */
    cursor: pointer;
    /* For smoothness of the button */
    /* transition: 0.5s ease; */
    transition: 0.5s ease-in-out;
}

.search button:hover{
    background-color: white;
}

.content{
    color: white;
    clear: both; /* Margin top does'nt work if we use clear option instead we can use padding to get space at top*/
    width: 60vw;
    padding-top: 160px;
    padding-left: 40px;
    /* border: 1px solid white; */
    float: left;
}

.content h1{
    font-family: Arial;
    font-size: 60px;
    letter-spacing: 2px;
}

.content h1 span{
    color: yellow;
    font-size: 72px;
}

.content p{
    font-size: 24px;
    padding: 10px;
    line-height: 36px;
    letter-spacing: 1.5px;
}

.btn{
    width: 120px;
    height: 36px;
    font-size: 16px;
    background-color: yellow;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.5s ease-in-out;
}

.btn:hover{
    background-color: white;
    color: #f78c01;
}

.cn_btn{
    margin-top: 10px;
    margin-left: 50px;
}

.form{
    color: white;
    background: linear-gradient(to top, rgb(0,0,0,0.7),rgb(0,0,0,0.7));
    width: 300px;
    height: 400px;
    float: right;
    margin-top: 180px;
    margin-left: 30px;
    /* border: 1px solid white; */
    text-align: center;
    padding: 10px;
    box-shadow: 0px 0px 10px rgb(39,39,39);
}

.form h2{
    font-family: arial;
    height: 44px;
    line-height: 44px;
    background-color: #f77801;
    border-radius: 10px;
    margin-bottom: 10px; 
}

.form input{
    width: 100%;
    height: 40px;
    margin-top: 14px;
    background: transparent;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid yellow;
    font-size: 16px;
}

.li_btn{
    width: 100%;
    margin-top: 25px;
    margin-bottom :15px; 
}

.signup{
    font-family: sans-serif;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 1.2px;
}

.signup a {
    text-decoration: none;
    color: #f77801;
    font-size: 22px;
    transition: 0.4s ease;
}

.signup a:hover{
    color: yellow;
}

.liw{
    font-size: 20px;
    margin-top: 14px;
    margin-bottom: 20px;
}

/* To add icons for ex: sign up with google go to ionicons */
.icons ion-icon{
    font-size: 36px;
    margin-left: 20px;
}

.icons ion-icon:first-child{
    margin-left: 0px;
}